<p id="notice"><%= notice %></p>


<h1>Eagle i Bank - Customer Administration</h1>



<table>

<thead>

    <tr>

    <th>Custid</th>

    <th>Custname</th>

    <th colspan="3"></th>

    </tr>
  
</thead>


<tbody>
    
<% @customers.each do |customer| %>

    <tr>

    <td><%= customer.custid %></td>

    <td><%= customer.custname %></td><sp>
    <td><%= link_to 'Show', customer %></td>

    <td><%= link_to 'Show Transactions', {controller: "transactions", action: "index", id: customer.custid} %></td>

    </tr>
    
<% end %>
  
</tbody>

</table>

<br>

<%= link_to 'New Customer', new_customer_path %>

<br />
<br />
<br />
<br />

<br />
<br />
<br />
<br />


<h4>Release 1 Version 1</h4>

