<p id="notice"><%= notice %></p>
<%customer = @customer %>
<h1>Eagle i-Bank - Transactions for Customer: <%= customer.custname %></h1>
<% accountbalance = 0.0 %>


<table>

<thead>
    
<tr>
      
<!--	<th>Custref</th> -->   
 	<th>Tranref</th>
      
	<th>Trandate</th>
      
	<th>Tranamount</th>
      
	<th colspan="3"></th>

</tr>
  
</thead>

  
<tbody>
    
<% @transactions.each do |transaction| %>
<tr>
        
<!--	<td><%= transaction.custref %></td>
-->
	<td><%= transaction.tranref %></td>

	<td><%= transaction.trandate %></td>

	<td><%= transaction.tranamount %></td>

<!--	<td><%= link_to 'Show', transaction %></td>
 -->
<!--	<td><%= link_to 'Edit', edit_transaction_path(transaction) %></td> -->
<!--	<td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
 -->
	<% accountbalance = accountbalance + transaction.tranamount %>
</tr>
    
<% end 
 %> 
<tr>
<td></td>
<td></td>
<td>Balance:</td>
<td><%=accountbalance.to_d.truncate(2).to_f %>
</tr> 
</tbody>

</table>

<br>


<%= link_to 'Back', customers_path %>
